<div class="cardA"> 
    <h1 style="background-color: white; color: black; border-radius: 2rem; width: 10rem; margin-left: 5rem; margin-top: 1rem;">Actor</h1>
    <img class="actor" style="margin-top:10%" src="{{actor.foto}}" alt=""><br>
    <label >Nombre</label>
    <h2 style="margin-left: 0.5rem; margin-right: 0.5rem;">{{actor.nombre}}</h2>
    <label >Apellido</label>
    <h3 style=" margin-left: 0.5rem; margin-right: 0.5rem;">{{actor.apellido}}</h3>
    <label >Nacionalidad</label>
    <h3 style=" margin-left: 0.5rem; margin-right: 0.5rem;">{{actor.pais}}</h3>
    
    
    
</div>
    
