 <body style="height: 100%;background-image: url(../assets/descarga.jpg); ">
     

 <header style="background-color: rgb(158, 158, 209);" class="navbar navbar-dark bg-info navbar-expand  " >
    <div class="navbar-nav-scroll" >
      <a class="navbar-brand" routerLink='/' style="color: black;">Inicio</a>
      <a class="navbar-brand" routerLink='/paises/listado' style="color: black;">Listado paises</a>
      <a class="navbar-brand" routerLink='/actor/listado' style="color: black;">Listado de actores</a>
      <a class="navbar-brand" routerLink='/actor/alta' style="color: black;">Agregar actor</a>
      <a class="navbar-brand" routerLink='/busqueda' style="color: black;">Busqueda</a>
      <a class="navbar-brand" routerLink='/peliculas/listado' style="color: black;">Listado de películas</a>
      <a class="navbar-brand" routerLink='/peliculas/alta' style="color: black;">Agregar películas</a>
      <a class="navbar-brand" routerLink='/salaDeCine' style="color: black;">Cines</a>
    </div>
    
  </header>

<router-outlet></router-outlet>

</body> 