<div class="card"> 
    <h1 style="background-color: white; color: black; border-radius: 2rem; width: 10rem; margin-left: 5rem; margin-top: 1rem;">Pais</h1><br>
<label >Nombre</label>
<h2 style="margin-left: 0.5rem; margin-right: 0.5rem;">{{pais.name}}</h2>
<label >Capital</label>
<h3 style=" margin-left: 0.5rem; margin-right: 0.5rem;">{{pais.capital}}</h3>
<label >Población</label>
<h3 style=" margin-left: 0.5rem; margin-right: 0.5rem;">{{pais.population}} habitantes.</h3><br>
<img style="margin-left: 8.3rem;" src="{{pais.flag}}" alt=""><br>
<button type="button" class="btn btn-danger" style="width: 10rem; margin-left: 5rem; border-radius: 1rem;" (click)="eliminarPais(pais)" *ngIf="esLP"> Deshabilitar país</button>
</div>
