

<table style="margin: 5%;" class="table table-dark">

    <thead>
        <tr>
          <th scope="col">País</th>
          <th scope="col">capital</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of listaPaises">
          <td scope="row" (click)="mostrarDetalles(pais)">{{pais.name}}</td>
          <td (click)="mostrarDetalles(pais)">{{pais.capital}}</td>      
          <td (click)="mostrarDetalles(pais)"><img src="{{pais.flag}}" alt="1rem"></td>
        
        </tr>       
      </tbody>
</table>
